#searchWindow {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
#mapR {
  height: 100%;
}
#inputContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#inputContainer * {
  display: flex;
}
