.list {
  width: 100%;
  flex-grow: 1;
  background-color: white;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}
.list > .itemCard {
  margin: 10px;
}
