#wrapper {
  display: flex;
  flex-flow: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Lato', sans-serif;
}
#header {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  padding: 15px;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
#footer {
  vertical-align: bottom;
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #3498db;
  font-size: 0.8em;
}
#footercontent {
  width: 100%;
  padding: 10px;
  bottom: 0;
}
