
  #partitionContainer {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    overflow: auto;
    flex-grow: 1;
  }

.subheader {
  background-color: #3498db;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}
.listPartition {
  display: flex;
  flex-flow: column;
  flex-basis: 0;
  flex-grow: 1;
  min-width:
}
#userImg {
  opacity: 0.3;
  width: 50px;
  height: 50px;
}
