.hidden {
  display: none;
}
.wrapper {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.profileBtn {
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #d4cfc6;
  background-color: #282520;
  padding: 0 10px;
}
.profileBtn * {
  margin-right: 10px;
}
.profileBtn:hover {
  color: #b18d51;
}
#logout, #back {
  cursor: pointer;
  position: absolute;
  top: 2px;
  font-size: 0.8em;
  color: #d4cfc6;
  opacity: 0.8;
}
#logout:hover, #back:hover {
  opacity: 1;
}
#logout {
  right: 2px;
}
#back {
  left: 2px;
}
.box {
  background-color: #282520;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}
.box > h1 {
  color: #d4cfc6;
}
