body {
  justify-content: center;
  background: url('../images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}
.loginBox {
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: rgba(0,0,0,0.3);
  padding: 25px;
}
.loginBox-greeter {
  color: rgba(255,255,255,0.75);
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 1.75em;
}
form {
  display: flex;
  flex-flow: column;
  font-size: inherit;
}
.loginBox-fields {
  display: flex;
  flex-flow: column;
}
input[type="submit"] {
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.5);
  border: 0;
  margin-bottom: 10px;
  font-weight: bolder;
}
input[type="submit"]:hover {
  color: #c2ad99;
}
.loginBox-text {
  cursor: pointer;
  transition: all 0.2s ease;
  color: rgba(255,255,255,0.4);
  text-decoration: underline;
}
.loginBox-text:hover {
  color:rgba(255,255,255,0.75);
}
.loginBox-submits {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
#loginBox-button {
  width: 100%;
  text-align: center;
}
#loginBox-error {
  margin-bottom: 5px;
  color: red;
  text-align: center;
}

.ss-belt {
margin-top: 50px;
padding: 20px 0px 20px 30px;
background-color: rgba(128,128,128,.5);
width: 200px;
height: 80px;
border-radius: 5px;
border: solid black 2px;
margin-bottom: -25px;

}

.ss-belt a {
  color: transparent;
  background-color: transparent;
}

.ss-belt .ss-icon {
  margin-top: 10px;
  vertical-align: middle;
  margin-left: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: transparent;
}

.ss-belt .ss-icon:hover{
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  color: transparent;
}
